<div class="contents row">
  <div class="container">
    <h3>「習慣」if then プランニングを作成する</h3>
    <%= form_with(model: @rule, local: true) do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
      <%= f.text_area :if_1, placeholder: "（状況）◯◯が起きたら", rows: "10" %>
      <%= f.text_area :then_1, placeholder: "（行動）◯◯をする", rows: "10" %>
      <%= f.submit "作成" %>
    <% end %>
  </div>
</div>